.p-inputgroupaddon:first-child,
.p-inputgroupaddon + .p-inputgroupaddon {
  border-radius: 6px 0 0 6px;
  min-width: auto;
  padding-right: 0px;
  height: 60px;
}

// Fix the text alignment
.p-inputtext,
.p-select-label {
  font-size: 11px; // Increased from 11px
  line-height: 1.2; // Add line height to help with vertical alignment
  display: flex;
  align-items: center; // Center align the text vertically
}

.shadow-selected {
  box-shadow: 0 0 0 4px var(--primary-500, #00709b); // Adjust color to match your primary-500
}

.p-tab {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.p-tab-active {
  border-width: 0 0 2px 0;
}

.p-tabpanels {
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;
}
