:root {
  --p-toggleswitch-checked-background: #ff0000;
  --p-toggleswitch-background: #9b9b9b;
  --p-toggleswitch-checked-hover-background: #ff0000;
  --p-toggleswitch-hover-background: #9b9b9b;
  --p-toggleswitch-width: 3rem;
}
